<h1>編集画面</h1>

<%= render 'form', article: @article %>

<div class='edit-link'>
  <p><button type="button" class="btn btn-dark"><%= link_to 'Show', @article %></p>
  <p><button type="button" class="btn btn-dark"><%= link_to 'Back', user_path(current_user.id)%></p>
</div>
<br>
<br>
<br>