<div class="container">
  <h2 class="top-title">POKE TRA</h2>
    <nav class="menu">
      <ul>
        <li></li>
        <li>menu1</li>
        <li>menu2</li>
      </ul>
    </nav>
  <article>
    <div class="contents">
      <ul>
        <li>contents1</li>
        <li>contents2</li>
      </ul>
    </div>
    <div class="topic">
        <p><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %></p>
        <p><%= link_to "新規登録", new_user_registration_path %></p>
        <p><%= link_to "ログイン", new_user_session_path %></p>
    </div>
  </article>
</div>





