<div class="container">
  </div><h1 class="title">Poke Tra</h1>
    <nav class="menu">
      <ul>
        <li>top</li>
        <li>menu1</li>
        <li>menu2</li>
      </ul>
    </nav>
  <article>
    <div class="contents">
      <ul>
        <li>contents1</li>
        <li>contents2</li>
      </ul>
    </div>
    <div class="topic">
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </article>

<%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>