// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/**********************
 記事一覧ページ
 *********************/
.articles {
  background-color: darkgray;
}
.search_wrap {
  margin: 0 auto;
  padding: 0.5rem;
  background-color: #e6e6e6;
  h2.search_title {
    text-align: center;
    margin: 1rem;
  }
  .search_box {
    text-align: center;
    margin: 2rem;
    input {
      border-radius: 3px;
      border: 1px solid rgb(124, 124, 124);
    }
  }
}
.flex {
  display: flex;
  justify-content: left;
  width: 60%;
  margin: 1rem auto;
  padding: 1.5rem;
  background-color: rgb(224, 224, 224);
  border-radius: 8px;
  .item{
    margin-left: 2rem;
    width: 100%;
    h3.articl_title {
      font-size: 28px;
      font-weight: 700;
      padding: 0.3rem 0;
      text-align: left;
    }
    .articl_country {
      margin-bottom: 0;
      color: #fff;
      background-color: rgb(21, 45, 64);
      padding: 4px;
      border-radius: 8px;
      width: 20%;
      text-align: center;
      font-size: 14px;
    }
    .articl_text {
      text-align: left;
      font-size: 16px;
    }
    .sub_text {
      display: flex;
      justify-content: left;
      align-items: flex-end;
      .articl_user{
        margin: 1rem 0;
        border: 1px solid #333;
        border-radius: 8px;
        padding: 6px 10px;

        a {
          color:rgb(64, 64, 64);
        }
      }
      .articl_show {
        margin: 1rem;
        background-color: rgb(12, 8, 124);
        border-radius: 8px;
        padding: 6px 10px;
        a {
          color: #fff;
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

/**********************
記事詳細ページ
**********************/
.detail_title {
  text-align: center;
  padding: 1.5rem;
  font-weight: 600;
  width: 780px;
  margin: 1.5rem auto;
  background-color: rgb(44, 44, 44);
  color: #fff;
}
.detail_img {
  margin: 1.5rem auto;
}
.detai_wrap {
  background-color: #fff;
  width: 780px;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  .detail_content {
    width: 50%;
    padding: 1rem;
    border-bottom: 1px solid rgb(170, 170, 170);
    background-color: rgb(80, 80, 80);
    color: #fff;
  }
  .contents {
    width: 50%;
    padding: 1rem;
    border-bottom: 1px solid rgb(170, 170, 170);
    margin: 0;
    font-size: 16px;
  }
}
.map_title {
  font-weight: 600;
  font-size: 32px;
  margin: 6rem auto 1.5rem;
  padding: 1.5rem;
  width: 780px;
  background-color: rgb(44, 44, 44);
  color: #fff;
}
.google_map {
  width: 100%;
}



/**********************
Article登録ページ
 *********************/

.actions{
  text-align: center;
}
#map {
  margin: 0 auto;
}
.pag{
  text-align: center;
}
td {
  font-size: 20px;
}
.pagination {
  justify-content: center;
}
.fav {
  text-align: center;
}
/**********************
編集画面
 *********************/
.area-form input{
  width: 800px;
  display: flex;
  justify-content: center;
}
.area-form textarea{
  width: 800px;
  display: flex;
  justify-content: center;
}
.area-form p{
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.edit-link {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}
.edit-link p {
  margin:  2px;
}
.btn-primary {
  margin: 20px;
}
.btn-primary a {
  color: black;
  margin: 20px;
}
.btn-light a {
  color: black;
}
.btn-dark a {
  color: black;

}