// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html {
  position: relative;
  min-height: 100%;
}
body {
  background-image: image-url('IMG_7122.JPG'); 
  background-position: top center;
  margin: 0;
}
.top-title {
  font-size:100px;
  color: black;
  font-weight:bold;
  text-align:center;
  width: 80%;
  margin: 0 auto;
}
.container {
  text-align: center;
}
.contents {
  font-size: 50px;
  color: black;
}
.topic {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  margin-top: 10rem;
}
.topic p {
  color: black;
  margin: 1rem;
}
.topic a {
  color: black;
}
.navbar img {
  height: auto;
  width: 60px;
}
.gs a {
  color: black;
}
.top-image {
  width: 10%;
}